name: "lootbox_recursion"

services:
  rails-app:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile

    volumes:
      - ../../lootbox_recursion:/workspaces/lootbox_recursion:cached

    # Overrides default command so things don't shut down after the process ends.
    command: sleep infinity

    # Uncomment the next line to use a non-root user for all processes.
    #user: rails

    # Use "forwardPorts" in **devcontainer.json** to forward an app port locally.
    # (Adding the "ports" property to this file will not forward from a Codespace.)
    # (DO add port forwards if you are not using vscode)
    ports:
      - "3000:3000"
    depends_on:
      - selenium
  selenium:
    image: selenium/standalone-chromium
    restart: unless-stopped
